
h1{
    font-size: 65px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 50px;
    font-style: italic;
    opacity: 0.75;
    color: rgba(18, 16, 16, 0.872);
    
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 450px;
  padding: 10px;
  margin: 7px;

  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 8px  #ecd9df;

  position: relative;
;
  background: linear-gradient(#ffffff, #000000);
}

.info h2{
    font-size: 26px;
    margin-left: 2px;
    line-height: 1;
    color:black;
  }

  .card .caracteristic{

    color: #ecd9df;
    font-size: 18px;
    text-decoration: underline;
    

  }

  .card .price{

    color: #da813f;
    font-size: 20px;
    font-weight: bold;


  }

  .btn{
    font-size: 15px;

    position: absolute;

    width: 120px;
    height: 40px;
    margin-left: 85px;
    margin-top: 20px;

    border-radius:5px;
    border: none;
    cursor: pointer;
  
    box-shadow: 3px 3px 10px gray;
    
    


}

.image_dolorean_2 {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-image: url("/PojetGarageAchille/PHOTOS/dolorean/dolorean-2.jpg");
  background-size: cover;
  background-position: center;
}

.ford_gran_torino_2
{
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-image: url("/PojetGarageAchille/PHOTOS/Ford\ grand\ torino/Gran-torino3.png");
  background-size: cover;
  background-position: center;
}

.pontiac_firebird{

  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-image: url("/PojetGarageAchille/PHOTOS/Pontiac\ Firebird/pontiac-firebird-9911-1.jpg");
  background-size: cover;
  background-position: center;
}

.ford_mustang_GT390{

    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-image: url("/PojetGarageAchille/PHOTOS/Ford\ mustangGT\ 390/photo1.jpg");
    background-size: cover;
    background-position: center;
  }

  .ferrari_308_gts{

    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-image: url("/PojetGarageAchille/PHOTOS/ferrari\ 308\ gts/ferrari-308.jpg");
    background-size: cover;
    background-position: center;
  
  }

  .Dodge_chargeur_1970{

    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-image: url("/PojetGarageAchille/PHOTOS/dodge\ chargeur\ 1970/dodge_chargeur.jpg");
    background-size: cover;
    background-position: center;
  
    }

    .camaro_ZL1{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-image: url("/PojetGarageAchille/PHOTOS/camaro\ ZL1\ 2011/camaro-CHEVROLET.jpg");
    background-size: cover;
    background-position: center;
    } 

    .twingo{

      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/twingo3/twingo1.png");
      background-size: cover;
      background-position: center;
    
    }
    .kia_niro{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/KIA\ NIRO/kia-niro-gris-2.jpg");
      background-size: cover;
      background-position: bottom;
    
    }
    .citroen{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/CITROEN\ C3/citroen-c3-rouge-1.jpg");
      background-size: cover;
      background-position: bottom;
    
    }
    .Renault_koelos{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/RENAULT\ KOELOS/renault-koleos-gris-fonce-1.jpg");
      background-size: cover;
      background-position: bottom;
    
    }
    .ford_focus{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/FORD\ FOCUS/ford-focus-noir-1.jpg");
      background-size: cover;
      background-position: center;
    
    }
    .fiat_500{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/FIAT\ 500/fiat-500-blanc-1.jpg");
      background-size: cover;
      background-position: center;
    
    }
    .Mercedes_ClassA{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/MERCEDES\ CLASS\ A/mercedes-classe-a-noir-1.jpg");
      background-size: cover;
      background-position:bottom;
    
    }
    .Porshe_911{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/Porshe\ 911/porsche1.jpg");
      background-size: cover;
      background-position:bottom;
    
    }
    .opel_corsa{
    
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-image: url("/PojetGarageAchille/PHOTOS/opel\ corsa/opel-corsa-rouge-1.jpg");
      background-size: cover;
      background-position:top;
    
    }
    