
  
  body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .slider-container{

    margin-bottom: 5px;
  }
  
  .slider-1 {
    max-width: 1000px;
    margin: 100px auto;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;

    
   
  
  }
  .slider-1 .slider {
    animation: slider-1 20s infinite ease-in-out;
    display: flex;
  
  
  }
  .image_size {
    max-width: 1000px;
    flex-shrink: 0;
    width: 100%;
    border-radius: 10Px;
    
    
  }

  
  /* 
     5% par transition, nombre choisi arbitrairement.
  
     reste divisé par nb de pauses
     80(%) / 4 = 20(%) par pause
  */
  
  @keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  } 

  @media screen and(max-width :415px){

    .slider-container{
      display :flex,
      
    }    

  }
  
  @media (min-width : 320px) and (max-width:1024px){
    .slider-container,
    .slider-1

   {
     flex-direction:column;
     
     
    }
 }