<!DOCTYPE html>
<h1 class="center">LISTE DE VOITURE</h1>

<div class="container">
    <div class="row">
        <div *ngFor="let car of carList" class="col s6 m4">
            <div class="card horizontal"(click)="selectCar" appBorderCard>
                <div class="card-image">
                    <img [src]="car.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{car.name}}</p>
                        <p><small>{{car.created | date:"dd/MM/yyyy"}}</small></p>

                    </div>

                </div>

            </div>
        </div>

    </div>



</div>





